<div class="column quests-column">

  <form class="new-quest">
    <div>click to drop a sword on the map</div>
    <div><span class="bold">lat:</span> {{newQuest.lat}}</div>
    <div><span class="bold">lon:</span> {{newQuest.lon}}</div>
    <div>what is your name?</div>
    <input ng-model="newQuest.name" type="text" id="name" placeholder="name" autocomplete="off">
    <div>what is your quest?</div>
    <textarea ng-model="newQuest.quest" id="quest" placeholder="what is your quest?" autocomplete="off"></textarea>
    <div class="color-picker"> what is your favorite color?</div>
    <input ng-model="newQuest.fav_color" type="color" class="color-picker">
    <button ng-click="createQuest()" class="save-button">save quest</button>
  </form>
  <div>color{{newQuest.fav_color}}</div>
  <h3>all quests</h3>

  <ul class="quests-container">

    <li ng-repeat="quest in quests" class="quest">
      <div>{{quest.lat}}</div>
      <div>{{quest.lon}}</div>
      <div><span class="bold">Name:</span> {{quest.name}}</div>
      <div><span class="bold">Quest:</span> {{quest.quest}}</div>
    </li>

  </ul>

</div>

<div class="column map-column">
  <div id="map"></div>
</div>
