<div class="column quests-column">

  <form class="new-quest">
    <input ng-model="newQuest.lat" type="text" id="lat" placeholder="lat">
    <input ng-model="newQuest.lon" type="text" id="lon" placeholder="lon">
    <input ng-model="newQuest.name" type="text" id="name" placeholder="name">
    <textarea ng-model="newQuest.quest" id="quest" placeholder="what is your quest?"></textarea>
    <button ng-click="createQuest()">add</button>
  </form>

  <div>lat: {{newQuest.lat}}</div>
  <div>lon: {{newQuest.lon}}</div>
  <div>name: {{newQuest.name}}</div>
  <div>quest: {{newQuest.quest}}</div>

  <h3>all quests</h3>

  <ul class="quests-container">

    <li ng-repeat="quest in quests" class="quest">
      <div>{{quest.lat}}</div>
      <div>{{quest.lon}}</div>
      <div>{{quest.name}}</div>
      <div>{{quest.quest}}</div>
    </li>

  </ul>

</div>

<div class="column">
  <div id="map"></div>
</div>
