<div class=left>
  <h1>QUESTS</h1>

  <form>
    <input ng-model="lat" type="text" id="lat" placeholder="lat">
    <input ng-model="lon" type="text" id="lon" placeholder="lon">
    <input ng-model="name" type="text" id="name" placeholder="name">
    <textarea ng-model="quest" id="quest" placeholder="what is your quest?"></textarea>
    <button ng-click="markIt()">add</button>
  </form>

  <div>lat: {{lat}}</div>
  <div>lon: {{lon}}</div>
  <div>name: {{name}}</div>
  <div>quest: {{quest}}</div>

  <h3>all quests</h3>
  <ul>
    <li ng-repeat="quest in quests">
      <div>{{lat}}</div>
      <div>{{lon}}</div>
      <div>{{name}}</div>
      <div>{{quest}}</div>
    </li>
  </ul>

</div>

<div id="map"></div>
